.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stacks-container {
  border: 1px solid black;
  width: 40vw;
  height: 60vh;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

button {
  width: 5rem;
}

.stack {
  height: 5rem;
  width: 9rem;
  border: 1px solid black;
  align-self: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.card-container {
  margin-top: 15rem;
  width: 40vw;
  height: 60vh;
  border: 1px solid;
}
