@import "~antd/dist/antd.css";

/* .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.header {
  border: 1px solid black;
  grid-area: 1 / 1 / 2 / 6;
}
.sidebar {
  grid-area: 2 / 1 / 6 / 2;
  border: 1px solid red;
}
.body {
  border: 1px solid blue;
  grid-area: 2 / 2 / 6 / 6;
  overflow-x: hidden;
}

.body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.body-container > h2 {
  text-transform: capitalize;
  font-size: 3rem;
  align-self: center;
}

.buttons-container {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.stacks-container {
  display: flex;
  flex-direction: column;
}

button {
  width: 5rem;
  height: 2rem;
}

.stack {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.stack:hover {
  background-color: aliceblue;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-container-card-type {
  display: flex;
  justify-content: space-around;
}

.card-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.box {
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
}

.card {
  width: 25rem;
  min-height: 12.5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.card > p {
  font-size: 1rem;
  font-weight: 500;
}

.review-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-card-container > button {
  margin-left: 1rem;
  align-self: flex-start;
}

.large-card {
  width: 30rem;
  min-height: 15rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-top: 3rem;
}

.large-card > p {
  font-size: 1.5rem;
  font-weight: 500;
}

.cycle-card-buttons {
  width: 30rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
